<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ArterAçãoConnect - ADM</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="shortcut icon" href="/flask/static/images/coletivo.png">
</head>

<body>
  
  <header>
    <div class="container">
      <center>
        <h1><a href="{{ url_for('index') }}" class="branco">ArterAçãoConnect</a></h1>
      </center>
      <nav>
        <input type="checkbox" id="menu-toggle" class="menu-toggle"/>
        <label for="menu-toggle" id="responsive-button">
            <img src="{{ url_for('static', filename='images/icone transparente.png') }}" width="20px" height="20px" alt="Menu">
        </label>
        <ul class="menu">
          <li><a href="{{ url_for('index') }}">HOME</a></li> |
          <li><a href="#news">NOTÍCIAS</a></li> |
          <li><a href="#events">EVENTOS</a></li> |
          <li><a href="#contact">CONTATO E APOIO</a></li> |
          <li><a href="{{ url_for('cadastro') }}">CADASTRE-SE</a></li> |
          <li><a href="{{ url_for('adm') }}">ADMINISTRAÇÃO</a></li>
        </ul>
      </nav>    
  </header>
  <section id="admin" class="section-padding">
    <div class="container">
      <h2>Administração</h2>
      <p>Esse setor é reservado para os Diretores e Presidentes do Coletivo.</p>
      <form id="admin-login-form" method="POST" action="{{ url_for('admin_login') }}">
        <div class="form-group">
          <label for="admin-login">Login</label><br> 
          <input type="text" id="admin-login" name="admin-login">
        </div>
        <div class="form-group">
          <label for="admin-password">Senha</label><br>
          <input type="password" id="admin-password" name="admin-password">
        </div>
        <button type="submit" class="btn">Login</button>    
      </form>
    </div>
  </section>
  <footer>
    <a href="#"><button class="button" style="vertical-align:middle"><span><strong>Topo da Página</strong></span></button></a>
    <a href="https://www.instagram.com/coletivo_arteracao?igsh=cGw5bXR1ZTIzeTU4" target="_blank"><button class="button" style="vertical-align:middle"><span><strong>Visite o Instagram</strong></span></button></a>
    <a href="https://www.youtube.com/@coletivoarteracao3961/featured" target="_blank"><button class="button" style="vertical-align:middle"><span><strong>Visite o Youtube</strong></span></button></a>
    <div class="container">
      <p>&copy; 2024 Coletivo ArterAção. Todos os direitos reservados.</p>
    </div>
  </footer>
</body>

</html>
