<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ArterAçãoConnect - Evento 2</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="shortcut icon" href="/flask/static/images/coletivo.png">
</head>



<!-- https://www.navedoconhecimento.rio  NOSSA REFERÊNCIA -->



<body>
  
  <header>
    <div class="container">
      <center>
        <h1><a href="{{ url_for('index') }}" class="branco">ArterAçãoConnect</a></h1>
      </center>
      <nav>
        <input type="checkbox" id="menu-toggle" class="menu-toggle"/>
        <label for="menu-toggle" id="responsive-button">
            <img src="{{ url_for('static', filename='images/icone transparente.png') }}" width="20px" height="20px" alt="Menu">
        </label>
        <ul class="menu">
          <li><a href="{{ url_for('index') }}">HOME</a></li> |
          <li><a href="#news">NOTÍCIAS</a></li> |
          <li><a href="#events">EVENTOS</a></li> |
          <li><a href="#contact">CONTATO E APOIO</a></li> |
          <li><a href="{{ url_for('cadastro') }}">CADASTRE-SE</a></li> |
          <li><a href="{{ url_for('adm') }}">ADMINISTRAÇÃO</a></li>
        </ul>
      </nav>    
  </header>
  <section class="container sobre" id="about">
    <div class="ericksoares">
      <img src="/static/images/nauniceff.png" alt="THE POWER OF NETWORKS TO PROTECT OUR YOUTH"><br>&copy;Coletivo ArterAção na
      mesa da UNICEFF - THE POWER OF NETWORKS TO PROTECT OUR YOUTH.
    </div>
    <div class="container">
      <h2>COLETIVO ARTERAÇÃO NA WEBSUMMITRIO💙📲🚀</h2>
      <p>Erick Soares esteve no painel como speaker do <a
          href="https://www.instagram.com/websummitrio/" target="_blank">💙@websummitrio💙</a> na mesa do <a
          href="https://www.instagram.com/unicefbrasil/" target="_blank">💙@unicefbrasil💙</a>, ao lado da <a
          href="https://www.instagram.com/dudagercina/" target="_blank">💙@dudagercina💙,</a>
        <a href="https://www.instagram.com/danilocarvalhomoura/" target="_blank">💙@danilocarvalhomoura💙</a> e mediada pela <a
          href="https://www.instagram.com/claudiapenteado/" target="_blank">💙@claudiapenteado💙</a> tratando de discussões acerca das
        emergências climáticas.
      </p>
      <p>
        Levou nossa potência para a temática e como usar nosso poder de mobilização para pensar políticas públicas
        para/com a juventude, adolescentes e jovens no centro da temática.
      </p>
      <p>Sobretudo, também trouxe os projetos potentes
        realizados pelo <a href="https://www.instagram.com/coletivo_arteracao/" target="_blank">💙@coletivo_arteracao💙</a></p>
      <p>O @websummitrio, um dos maiores eventos de tecnologias e inovação, em sua segunda edição brasileira do evento.
      </p>
      <p>
        Um Evento repleto de palestras sobre temas emergentes como venture capital, novas tecnologias e tendências de
        comportamento, além de estandes para demonstração das startups mais promissoras do momento. 🚀🚀🚀</p>
      <p><strong><a href="https://www.instagram.com/p/C56ssUHOE5n/?img_index=1" target="_blank">💙CLIQUE AQUI PARA O
            LINK💙</a></strong></p>

      <p>#websummitrio #riocentro #youthadvocate #unicef<br>#emergenciasclimaticas #climate #juventude<br>
        #direitosdascrianças
        #childrens #inovação #tecnologia<br> #racismoambiental #favela #educacao</p>


    </div>
  </section>
  <footer>
    <a href="#"><button class="button" style="vertical-align:middle"><span><strong>Topo da
            Página</strong></span></button></a>
    <a
      href="https://www.instagram.com/coletivo_arteracao?igsh=cGw5bXR1ZTIzeTU4" target="_blank"><button class="button" style="vertical-align:middle"><span><strong>Visite o
            Instagram</strong></span></button></a>
    <a href="https://www.youtube.com/@coletivoarteracao3961/featured" target="_blank"><button class="button" style="vertical-align:middle"><span><strong>Visite o
            Youtube</strong></span></button></a>
    <div class="container">
      <p>&copy; 2024 Coletivo ArterAção. Todos os direitos reservados.</p>
    </div>
  </footer>
  <script src="script.js"></script>
</body>

</html>