<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ArterAçãoConnect - Evento 1</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="shortcut icon" href="/flask/static/images/coletivo.png">
</head>



<!-- https://www.navedoconhecimento.rio  NOSSA REFERÊNCIA -->



<body>
  
  <header>
    <div class="container">
      <center>
        <h1><a href="{{ url_for('index') }}" class="branco">ArterAçãoConnect</a></h1>
      </center>
      <nav>
        <input type="checkbox" id="menu-toggle" class="menu-toggle"/>
        <label for="menu-toggle" id="responsive-button">
            <img src="{{ url_for('static', filename='images/icone transparente.png') }}" width="20px" height="20px" alt="Menu">
        </label>
        <ul class="menu">
          <li><a href="{{ url_for('index') }}">HOME</a></li> |
          <li><a href="#news">NOTÍCIAS</a></li> |
          <li><a href="#events">EVENTOS</a></li> |
          <li><a href="#contact">CONTATO E APOIO</a></li> |
          <li><a href="{{ url_for('cadastro') }}">CADASTRE-SE</a></li> |
          <li><a href="{{ url_for('adm') }}">ADMINISTRAÇÃO</a></li>
        </ul>
      </nav>    
  </header>
  <section class="container sobre" id="about">
    <div class="ericksoares">
      <img src="/static/images/oficina.jpg" alt="oficina de fotografia, teatro e dança"><br>&copy;Coletivo ArterAção - Oficina
      de Teatro, Dança e Fotografia, Via Instagram e Facebook.
    </div>
    <div class="container">
      <h2>OFICINA DE TEATRO, DANÇA E FOTOGRAFIA</h2>
      <p>Através de doações de nossa apoiadora fixa <a
          href="https://www.instagram.com/lidia_imageminverso/" target="_blank">✨@lidia_imageminverso✨</a> e parcerias técnicas, estão
        abertas as
        inscrições das aulas de teatro e dança para crianças, adolescentes e jovens (jovens de todas as idades 😎).🎭
      </p>
      <p>📍 Gratuito e acontecerá em sábados definidos</p>
      <p>📍 local: Casarti (Casa do artista independente)</p>
      <p>📍 Vagas ilimitadas</p>
      <p>
        <strong><a href="https://linktr.ee/Coletivo_arteracao#317650658" target="_blank">✨CLIQUE AQUI PARA O LINK✨</a></strong>
      </p>
      <p>Critérios de seleção:
        Será priorizado pessoas que moram em favelas e/ou são oriundos de instituições de ensino público.✨</p>
      <p>Às inscrições serão encerradas dia 03/06, então não dá mole e fica atendo!!</p>
      <p>Atividade… 👀</p>

      <p>#teatro #musica #cultura #democratizacaodoacessoacultura<br> #artistasindependentes #favela #escolapublica
        #juventude <br>#crianças #adolescentes</p>

    </div>
  </section>
  <footer>
    <a href="#"><button class="button" style="vertical-align:middle"><span><strong>Topo da
            Página</strong></span></button></a>
    <a
      href="https://www.instagram.com/coletivo_arteracao?igsh=cGw5bXR1ZTIzeTU4" target="_blank"><button class="button" style="vertical-align:middle"><span><strong>Visite o
            Instagram</strong></span></button></a>
    <a href="https://www.youtube.com/@coletivoarteracao3961/featured" target="_blank"><button class="button" style="vertical-align:middle"><span><strong>Visite o
            Youtube</strong></span></button></a>
    <div class="container">
      <p>&copy; 2024 Coletivo ArterAção. Todos os direitos reservados.</p>
    </div>
  </footer>
  <script src="script.js"></script>
</body>

</html>